.panel-about {
	margin-top: 20px;
	text-align: center;
}
h2{
	padding: 10px;
}
.panel-about .title {
	font-size: 40px;
	margin-bottom: 16px;
}
.panel-about .subtitle {
	font-size: 24px;
	margin-bottom: 16px;
}

.panel-about .about-description {
	font-size: 18px;
	line-height: 35px;
}
